/* Fonts 
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;

*/

:root {
  --spacer: 3rem;
  --box-shadow: 0.3rem 0.3rem 1.5rem rgb(0, 0, 0, 0.15);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Utilities */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}
/* Start Here */

html {
  font-size: 62.5%;
  line-height: 1.5;
}

.menu {
  position: sticky;
	display: flex;
  justify-content: space-between;
	align-items: center;
	height: 100px;
  font-size: 26px;
}

.logo {
  font-family: calibri;
  font-weight: bold;
  font-size: 26px;
  color: #3D2892;
  margin-left: 150px;
}

.logo1 {
  color:#F55D3A;
}

.nav_list {
  display: inline-block;
  font-size: 18px;
  font-family:'Poppins', sans-serif;
  
}

.nav_link {
  text-decoration: none;
  color: #3D2892;
  padding: 10px;
}

.nav_item {
  display: inline;
  margin-right: 85px;
  margin-left: -80px;
  
}

.img {
  position: absolute;
  float: right;
  margin-left: 900px;
  width: 200px;
  height: 200px;
}

h1 {
  font-size: 64px;
  color: #F55D3A;
  margin-left: 170px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  color: #4A4A4A;
  margin-left: 170px;
  font-family: 'Lora', serif;
}

.main {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.sign {
  background-color: #3D2892;
  filter: drop-shadow(0px 0px 15px gray);
  margin: 30px 50px;
  border-radius: 5px;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family:'Poppins', sans-serif;
  color: white;
  cursor: pointer;
  margin-left: 168px;
}

.top_stories {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 100px;
  text-align: center;
  text-decoration: none;
  color: #3D2892;
  font-family:'Poppins', sans-serif;
  filter: drop-shadow(1px 1px 10px rgba(128, 128, 128, 0.368));
}

.paramdam {
  position: absolute;
  margin-left: 260px;
}

.pback {
  height: 280px;
  width: 170px;
  margin-top: 145px;
  margin-left: -475px ;
  background-color:#F55D3A;
  position: absolute;
  border-radius: 7px;
}

.title_paramdam {
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 28px;
  color: #3D2892;
  font-family:'Poppins', sans-serif;
}

.sub_paramdam {
  font-size: 18px;
  margin-left: 496px;
  margin-top: -20px;
  color: gray;
  font-family: 'Lora', serif;
  margin-inline-end: 20%;
  text-align:start;
}

.preadmore {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color:#F55D3A;
  margin-top: -9%;
  margin-left: 647px;
  font-family:'Poppins', sans-serif;
  filter: drop-shadow(1px 1px 10px rgba(128, 128, 128, 0.244));
}

.senyales {
  position: absolute;
  margin-left: 860px;
  margin-top: 5px;
}

.sback {
  height: 280px;
  width: 170px;
  margin-top: -3px;
  margin-left: 260px ;
  background-color:#1AC3C3;
  position: absolute;
  border-radius: 7px;
}

.title_senyales {
  margin-bottom: 5px;
  margin-right: 795px;
  font-size: 28px;
  color: #3D2892;
  font-family:'Poppins', sans-serif;
}

.sub_senyales {
  font-size: 18px;
  margin-left: 110px;
  margin-top: -25px;
  color: gray;
  font-family: 'Lora', serif;
  margin-inline-end: 46%;
  text-align:start;
}

.sreadmore {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color:#F55D3A;
  margin-top: -9%;
  margin-left: 259px;
  font-family:'Poppins', sans-serif;
  filter: drop-shadow(1px 1px 10px rgba(128, 128, 128, 0.244));
}

.top_authors {
  margin-top: 100px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 120px;
  margin-left: 100px;
  text-align: center;
  filter: none;
  font-family:'Poppins', sans-serif;
}

.author1, .author2, .author3 {
  font-family:'Poppins', sans-serif;
  margin-top: -30px;
  margin-bottom: 300px;

}

.author1 {
  position:absolute;
  margin-left: 220px;
}

.author2 {
  position:absolute;
  margin-left: 630px;
}

.author3 {
  position:absolute;
  margin-left: 1000px;
  margin-top: -45px;
}

.name_cris {
  font-size: 28px;
  color:#F55D3A;
  margin-top: 20px;
  margin-left: 9px;
}

.name_katie {
  font-size: 28px;
  color:#F55D3A;
  margin-top: 20px;
  margin-left: 22px;
}


.name_scarlette {
  font-size: 28px;
  color:#F55D3A;
  margin-top: -2px;
  margin-left: -38px;
}

h3 {
  font-size: 28px;
  color:#F55D3A;
  margin-top: 5%; 
}

p {
  font-size: 18px;
  margin-left: 150px;
  margin-top: 40px;
}

.info1 {
  font-size: 18px;
  color: gray;
  margin-top: 5px;
  margin-left: 3px;
  text-align: center;
  font-family: 'Lora', serif;
}

.info2 {
  font-size: 18px;
  color: gray;
  margin-top: 5px;
  margin-left: 3px;
  text-align: center;
  font-family: 'Lora', serif;
}

.info3 {
  font-size: 18px;
  color: gray;
  margin-top: 5px;
  margin-left: -20px;
  text-align: center;
  font-family: 'Lora', serif;
}

.footer {
  position: absolute;
}

.dare {
  margin-bottom: 100px;
  margin-top: 650px;  
  text-transform: none;
}

.bx {
  position: absolute;
  border: #FFFAFB;
  margin-top: -170px;
  padding: 10px 30px;
  margin-left: 990px;
  outline: none;
}

.inpbox {
  font-size: 18px;
  top: 674px;
  right: -400px;
  width: 110px;
  height: 35px;
  border-radius: 5%;
  border-style: hidden;
  z-index: 3;
  font-weight: bold;
  position: absolute;
  background-color: #3D2892;
  color: #FFFAFB;
  font-family: 'Poppins', sans-serif;
}

.credit {
  font-size: 18px;
  margin-top: -80px;
  color: #FFFAFB;
  margin-left: 500px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.vector {
  position: absolute;
  z-index: -1;
  top: 400px;
  bottom: 0;
  width: 160%;
  margin-left: -5px;
}

.container {
  width: 1440px;
  position: relative;
  margin: 0 auto;
}